numpy
matplotlib
rasterio
pystac-client
planetary-computer
geopandas
pandas
scipy
scikit-learn
xarray
dask
odc-stac
torch  # CPU build: pip install torch --index-url https://download.pytorch.org/whl/cpu
einops  # for Presto (Step 14)
